<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Dashboard</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/bootstrap-v3.4.1.min.css">
	</head>

	<body>
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h1>cert-manager Org Security Dashboard</h1>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-6">
					<p>Last updated: {{ .LastUpdated }}</p>
				</div>
				<div class="col-xs-6">
					<p>All times UTC</p>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3>GitHub Releases</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<table class="table table-striped">
						<tr>
							<th>Repo</th>
							<th>Tag</th>
							<th>Date</th>
							<th>Warnings</th>
						</tr>

						{{ range $repo := .Repos }}
						{{ if $repo.HasReleases }}
						<tr class="{{ $repo.BootstrapClass }}">
							<td>
								<a href="https://github.com/{{- $repo.OrgName -}}/{{- $repo.RepoName -}}" target="_blank">
									{{ $repo.String }}
								</a>
							</td>
							<td>{{ $repo.LatestReleaseLink }}</td>
							<td>{{ $repo.LastReleaseTime }}</td>
							<td>{{ $repo.WarningMessage }}</td>
						</tr>
						{{ end }}
						{{ end }}
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3>GitHub Actions</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<table class="table table-striped">
						<tr>
							<th>Repo</th>
							<th>Workflow Name</th>
							<th>Last Run</th>
							<th>Status</th>
							<th>Head</th>
							<th>Warnings</th>
						</tr>

						{{ range $row := .ActionRows }}
						<tr class="{{ $row.BootstrapClass }}">
							<td>
								<a href="https://github.com/{{- $row.Repo.OrgName -}}/{{- $row.Repo.RepoName -}}" target="_blank">
									{{ $row.Repo.String }}
								</a>
							</td>
							<td>{{ $row.Action.Name }}</td>
							<td>{{ $row.Action.LastRunTime }}</td>
							<td>{{ $row.Action.Status }}</td>
							<td>{{ $row.Action.HeadLink $row.Repo }}</td>
							<td>{{ $row.WarningMessage }}</td>
						</tr>
						{{ end }}
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<h3>TestGrid Trivy Jobs</h3>
					<table class="table table-striped">
						<tr>
							<th>Dashboard Name</th>
							<th>Job Name</th>
							<th>Status</th>
						</tr>

						{{ range $j := .TestGridJobs }}
						<tr class="{{ $j.BootstrapClass }}">
							<td>{{ $j.DashboardName }}</td>
							<td>{{ $j.Name }}</td>
							<td><a href="{{ $j.URL }}" target="_blank">{{ $j.Status }}</a></td>
						</tr>
						{{ end }}
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
